:host {
    width: 100%;
}

article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .timer {
        width: 100%;
        height: 10px;
        overflow: hidden;
        .timer-slide {
            height: 100%;
            width: 100%;
        }
    }

    .content {
        padding: 10px;
        h1 {
            margin: 5px;
        }
        p {
            margin: 3px;
        }
    }
}

.success {
    background-color: rgb(92, 92, 168);
    color: white;
    border: solid 5px black;
    .timer-slide {
        background-color: rgb(53, 53, 97);        
    }
}

.alert {
    background-color: rgb(156, 44, 44);
    color: white;
    border: solid 5px black;
    .timer-slide {
        background-color: rgb(71, 7, 7);        
    }
}