:host{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    h1{
        font-family: "Montserrat-SemiBoldItalic", sans-serif;
        font-size: 2em;
        text-align: center;
        font-variant: small-caps;
    }
    .market-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    

}

