<h1>Mining Guild Market</h1>

<div class="market-list">
  <app-market-view [oreName]="'carbon'" [color]="'125,125,75,1'"></app-market-view>
  <app-market-view [oreName]="'iron'" [color]="'175,100,175,1'"></app-market-view>
  <app-market-view [oreName]="'titanium'" [color]="'175,175,175,1'"></app-market-view>
  


  <!--
  <div class="market-item">
    <div class="button-list">
      <h2>Carbon</h2>
      <div>
        <button type="button" class="btn-sell" (click)="SellOre(10,'carbon');">Sell 10</button>
        for <b class="credit">{{ (this.valuesCreditCarbon10 * 10).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-sell" (click)="SellOre(100,'carbon');">Sell 100</button>
        for <b class="credit">{{ (this.valuesCreditCarbon10 * 100).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(10,'carbon');">Buy 10</button>
        for <b class="credit">{{ (this.valuesCreditCarbon10 * 10).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(100,'carbon');">Buy 100</button>
        for <b class="credit">{{ (this.valuesCreditCarbon10 * 100).toFixed(1) }} cr</b>
      </div>
    </div>
    <div class="curve">
      <canvas #carbon></canvas>
    </div>
  </div>
  
  <div class="market-item">
    <div class="button-list">
      <h2>Titanium</h2>
      <div>
        <button type="button" class="btn-sell" (click)="SellOre(10,'titanium');">Sell 10</button>
        for <b class="credit">{{ (this.valuesCreditTitanium10 * 10).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-sell" (click)="SellOre(100,'titanium');">Sell 100</button>
        for <b class="credit">{{ (this.valuesCreditTitanium10 * 100).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(10,'titanium');">Buy 10</button>
        for <b class="credit">{{ (this.valuesCreditTitanium10 * 10).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(100,'titanium');">Buy 100</button>
        for <b class="credit">{{ (this.valuesCreditTitanium10 * 100).toFixed(1) }} cr</b>
      </div>
    </div>
    <div class="curve">
      <canvas #titanium></canvas>
    </div>
  </div> -->
</div>