@import '../../../theme';

article {
    height: 100%;
    padding: 5px;
    margin-bottom: $gap;
    background-image: url('../../../assets/texture/market-bg.jpg');

    .info {
        width: 40%;
    }
    .curve {
        width: 60%;
    }
}

.name {
    height: 20px;
    h2 {
        text-transform: uppercase;
        font-size: 1rem;
    }
    img {
        height: 100%;
        margin-right: 5px;
    }
}

.action {
    button, span {
        width: 40%;
        color: black;
    }
}

.histo-curve{
    position: relative;
    height:80%;
    width:100%
}