
.market-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    border: 1px solid white;

    .button-list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
    }

    .curve{
        width: 70%;
        height: 100%;
    }
}
