<h1>Mining Guild Market</h1>

<div class="market-list">
  <div class="market-item">
    <div class="button-list">
      <h2>Carbon</h2>
      <div>
        <button type="button" (click)="SellOre(10,'carbon');">Sell 10</button>
        for <b class="credit">{{ valuesCreditCarbon10 }} cr</b>
      </div>
      <div>
        <button type="button" (click)="SellOre(100,'carbon');">Sell 100</button>
        for <b class="credit">{{ valuesCreditCarbon100 }} cr</b>
      </div>
      <div>
        <button type="button" (click)="BuyOre(10,'carbon');">Buy 10</button>
        for <b class="credit">{{ valuesCreditCarbon10 }} cr</b>
      </div>
      <div>
        <button type="button" (click)="BuyOre(100,'carbon');">Buy 100</button>
        for <b class="credit">{{ valuesCreditCarbon100 }} cr</b>
      </div>
    </div>
    <div class="curve">
      <canvas #carbon></canvas>
    </div>
  </div>
  
  <div class="market-item">
    <div class="button-list">
      <h2>Titanium</h2>
      <div>
        <button type="button" (click)="SellOre(10,'titanium');">Sell 10</button>
        for <b class="credit">{{ valuesCreditTitanium10 }} cr</b>
      </div>
      <div>
        <button type="button" (click)="SellOre(100,'titanium');">Sell 100</button>
        for <b class="credit">{{ valuesCreditTitanium100 }} cr</b>
      </div>
      <div>
        <button type="button" (click)="BuyOre(10,'titanium');">Buy 10</button>
        for <b class="credit">{{ valuesCreditTitanium10 }} cr</b>
      </div>
      <div>
        <button type="button" (click)="BuyOre(100,'titanium');">Buy 100</button>
        for <b class="credit">{{ valuesCreditTitanium100 }} cr</b>
      </div>
    </div>
    <div class="curve">
      <canvas #titanium></canvas>
    </div>
  </div>
</div>
