
.market-item{
    display: flex;
    padding: 5px;
    margin: 5px;
    border: 1px solid white;

    .button-list{
        display: flex;
        width: 30%;
    }
}
.button-info{
    height: 5%;
    width: 5%;
    cursor: pointer;
}
.histo-curve{
    position: relative;
    height:80%;
    width:100%
}