<app-modal class="col" *ngIf="isModalOpen">

  <div class="closeLine">
    <a href="#" (click)="CloseHistory()">Close</a>
  </div>

  History for {{oreName.toUpperCase()}} values
  <app-curve-view *ngIf="historyValues!=null" [color]='color' [size]='30' [tab]='historyValues'></app-curve-view>

</app-modal>

<div class="market-item">
  <div class="col">
    <div class="row">
      <h2>{{oreName.toUpperCase()}}</h2>
      <img class="button-info" (click)="OpenHistory();" src="../../../assets/icon/information.png" />
    </div>
    <div class="row">
      <div class="button-list">

        <button type="button" class="btn-sell" (click)="SellOre(10);">Sell 10</button>
        for
        <b class="credit">{{ (value * 10).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-sell" (click)="SellOre(100);">Sell 100</button>
        for
        <b class="credit">{{ (value * 100).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(10);">Buy 10</button>
        for
        <b class="credit">{{ (value* 10).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(100);">Buy 100</button>
        for
        <b class="credit">{{ (value * 100).toFixed(1) }} cr</b>
      </div>
      <app-curve-view *ngIf="recentValues!=null" [color]='color' [size]='30' [tab]='recentValues'></app-curve-view>
      
    </div>
  </div>
</div>