
  <div class="market-item">
    <div class="button-list">
      <h2>{{oreName.toUpperCase()}}</h2>
      <div>
        <button type="button" class="btn-sell" (click)="SellOre(valuesMultiplicateur);">Sell {{valuesMultiplicateur.toFixed(1)}}</button>
        for
        <b class="credit">{{ (valuesTotal).toFixed(1) }} cr</b>
      </div>
      <div>
        <button type="button" class="btn-buy" (click)="BuyOre(valuesMultiplicateur);">Buy {{valuesMultiplicateur.toFixed(1)}}</button>
        for
        <b class="credit">{{ (valuesTotal).toFixed(1) }} cr</b>
      </div>
    </div>
    <div class="curve">
      <canvas #canvas></canvas>
    </div>
  </div>