.background-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  
    display: block;
    background: url('../../assets/bg2.jpg') no-repeat center fixed;
    background-size: cover;
    width: 105%;
    height: 105%;

    filter: blur(4px);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //width: 40%;
    padding: 20px;

    /* centré */
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);

    .title {
        font-family: "Montserrat-ExtraLight", sans-serif;
        font-variant: small-caps;
        font-size: 6vw;
        text-shadow: 4px 4px rgb(37, 37, 37)
    }

    .forms{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        .form-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 50px;
    
            h1 {
                font-size: 3em;
                font-variant: small-caps;
                padding-bottom: 10px;
                border-bottom: 1px #EEEEEE solid;
                margin-bottom: 10px;
                font-family: "Montserrat-Regular", sans-serif;
            }
    
            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .text-input {
                    margin: 5px auto;
                    padding: 0 10px;
                    width: 400px;
                    height: 40px;
                    font-size: 20px;
                }
            }
        }
    }
    
}

footer {
    padding: 10px 0 10px 0;
    width: 100%;
    height: 5%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}

.button {
    padding: 10px 30px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}
