@import '../../theme';

.content{
    height: 100%;
    background-color: $black;
    background-image: url('../../assets/bg2.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;


    h1 {
        font-family: "Montserrat-ExtraLight", sans-serif;
        font-variant: small-caps;
        font-size: 6vw;
        color: white;
        margin: 10px;
    }

    .forms{
        width: 100%;
        margin-top: 30px;

        .form-panel {
    
            h2 {
                width: 100%;
                color: white;
                box-shadow: 0 0 2px $black;
                font-size: 3em;
                font-family: "Montserrat-Regular", sans-serif;
                background-color: rgba($black, 0.8);
                text-align: center;
                text-transform: uppercase
            }
    
            form {
                input {
                    margin: 5px auto;
                    padding: 10px;
                    width: 400px;
                    font-size: 1.2rem;
                    background-color: rgba(white, 0.8);
                    color: $black;
                    border: solid 2px $black;
                }
            }
            button {
                padding: 10px 30px;
                background-color: $black;
                color: white;
                border: none;
                text-transform: uppercase;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
    
}

footer {
    padding: 10px 0 10px 0;
    width: 100%;
    height: 5%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}


