<section class="content col align-center">
  <h1>AsteroClicker</h1>
  <div class="forms row justify-around align-start">
    <div class="form-panel col align-center">
      <h2>Sign in</h2>
      <form class="col">
          <input #log type="email" placeholder="e-mail">
          <input #pswd type="password" placeholder="password">
          <button (click)="ValiderLogIn(log.value,pswd.value)">Connect</button>
      </form>
    </div>
    <div class="form-panel col align-center">
      <h2>Sign up</h2>
      <form class="col">
          <input #email type="email" placeholder="e-mail">
          <input #newPswd type="password" placeholder="password">
          <input #newPswd2 type="password" placeholder="confirm password">
          <input #pseudo placeholder="pseudo">
          <input #address placeholder="wallet address">
          <button (click)="CreateAccount(email.value, newPswd.value, newPswd2.value, pseudo.value, address.value)">Create account</button>
      </form>
    </div>
  </div>
</section>

