<div class="topbar">
  <div class="player-info">
    <img src="http://placehold.it/400x400" class="avatar" />
    <div class="player-info-text">
        <h1 class="player-name">Cpt. {{name}}</h1>
        <p class="player-title">Explorer</p>
    </div>
  </div>

  <h1 class="credit-count credit"> {{ userS.currentUser.calculeMoneyWithSpace() }} cr</h1>
  <ul>
    <li>
        <a href="#" (click)="openQuestModal()">Glory quest</a> <br>  
      <div *ngIf="questS.questGroup.values > 0">
        {{ (questS.questGroup.valuesFinal - questS.questGroup.values).toFixed(2) }} / {{questS.questGroup.valuesFinal}} {{questS.questGroup.type}}
      </div>
      <div *ngIf="questS.questGroup.values <= 0">
          No quest for now.
      </div>
    </li> 
    <li>  
        <a href="#" (click)="openQuestModal()">Daily quest</a> <br>  
      <div *ngIf="userS.currentUser.quest.gain != -1">
        {{ (userS.currentUser.quest.valuesFinal - userS.currentUser.quest.values).toFixed(2) }} / {{userS.currentUser.quest.valuesFinal}} {{userS.currentUser.quest.type}}    
      </div>
      <div *ngIf="userS.currentUser.quest.gain == -1">
          No quest for now.
      </div>
    </li>
        
    <li><a href="#" (click)="openQuestModal()">Quest</a></li>
    <li><a href="#" (click)="openRankModal()">Ranking</a></li>
    <li><a href="#">My profile</a></li>
    <li><a href="#">Configuration</a></li>
    <li><a href="#" (click)="LogOut();">Sign out</a></li>
  </ul>
</div>

<!--<app-modal *ngIf="isModalOpenQuest">
    <a href="#" (click)="closeQuestModal()">Close</a>
    <app-quest></app-quest>
</app-modal>

<app-modal *ngIf="isModalOpenRank">
  <a href="#" (click)="closeRankModal()">Close</a>
  <app-ranking></app-ranking>
</app-modal> -->