<br>

<table style="width:100%">
  <tr style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <td align="left">Type of Asteroid : {{ (asteroid$|async)?.ore }} </td>
    <td *ngIf="(asteroid$|async)?.currentCapacity>0" align="right">{{ (asteroid$|async)?.currentCapacity }}/{{ (asteroid$|async)?.capacity }} </td>
    <td *ngIf="(asteroid$|async)?.currentCapacity==0" style="color:red" align="right">EMPTY</td>
  </tr>
</table>

<div class="progressBar" >
    <progress value="{{progressBarValue}}" >
    </progress>
</div>

<br>
<table style="width:100%">
      <tr >
            <app-ore-view [name]="'carbon'" [amount]="(oreAmounts$|async)?.carbon" [capacity]="capacity"
            [rate]="mineRate" >
            </app-ore-view>

            <app-ore-view [name]="'iron'" [amount]="(oreAmounts$|async)?.iron" [capacity]="capacity"
            [rate]="mineRate" >
            </app-ore-view>

            <app-ore-view [name]="'titanium'" [amount]="(oreAmounts$|async)?.titanium" [capacity]="capacity"
            [rate]="mineRate" >
            </app-ore-view>

            <app-ore-view [name]="'gold'" [amount]="(oreAmounts$|async)?.gold" [capacity]="capacity"
            [rate]="mineRate" >
            </app-ore-view>

            <app-ore-view [name]="'hyperium'" [amount]="(oreAmounts$|async)?.hyperium" [capacity]="capacity"
            [rate]="mineRate" >
            </app-ore-view>

      </tr>
</table>
<br>

<br>

<app-modal class="col" *ngIf="isModalOpen">

  <div class="closeLine">
    <a href="#" (click)="closeModal()">Close</a>
  </div>

  <div class="result row">
    <app-search-result *ngFor="let aste of search.results; let i = index" [num]="i" [asteroid]="aste"></app-search-result>
  </div>

  <div class="rejectLine">
    <button class="btn-upgrade" (click)="rejectResults()">Reject</button>
  </div>


</app-modal>

<button *ngIf="search.start!=0 && search.results.length==3" class="btn-upgrade" (click)="showResult()">See search result</button>
<button *ngIf="search.start!=0 && search.results.length==0" disabled="true" class="btn-upgrade">Searching : {{timer}}</button>
<button *ngIf="search.start!=0 && search.results.length==1" disabled="true" class="btn-upgrade">Time before arriving : {{timer}}</button>
<div *ngIf="search.start==0" id="slidecontainer">
  Distance: {{distance}} light years.
  <input type="range" min={{researchInfo.minDistance}} max={{researchInfo.maxDistance}} value="50" class="slider"
   [(ngModel)]="distance" (ngModelChange)="searchTimeUpdate()"> 
</div>
<div *ngIf="search.start==0">Search time : {{searchTime}}</div>
<button *ngIf="search.start==0" class="btn-upgrade" (click)="searchNewAster()">Search Another Asteroid</button>
