<!--
<br>

<table style="width:100%">
  <tr style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <td align="left">Type of Asteroid : {{ (asteroid$|async)?.ore }} </td>
    <td *ngIf="(asteroid$|async)?.currentCapacity>0" align="right">{{ (asteroid$|async)?.currentCapacity }}/{{ (asteroid$|async)?.capacity }} </td>
    <td *ngIf="(asteroid$|async)?.currentCapacity==0" style="color:red" align="right">EMPTY</td>
  </tr>
</table>

<div class="progressBar" >
    <progress value="{{progressBarValue}}" >
    </progress>
</div>
-->
<perfect-scrollbar class="col">
  <div class="ore" *ngFor="let ore of ores">
    <app-ore-view *ngIf="(oreAmounts$|async) as amount"
      [name]="ore"
      [amount]="amount[ore]"
      [capacity]="capacity"
      [rate]="mineRate" >
    </app-ore-view>
  </div>

    
    <!--
    <app-ore-view [name]="'iron'" [amount]="(oreAmounts$|async)?.iron" [capacity]="capacity"
    [rate]="mineRate" >
    </app-ore-view>
    
    <app-ore-view [name]="'titanium'" [amount]="(oreAmounts$|async)?.titanium" [capacity]="capacity"
    [rate]="mineRate" >
    </app-ore-view>
    
    <app-ore-view [name]="'gold'" [amount]="(oreAmounts$|async)?.gold" [capacity]="capacity"
    [rate]="mineRate" >
    </app-ore-view>
    
    <app-ore-view [name]="'hyperium'" [amount]="(oreAmounts$|async)?.hyperium" [capacity]="capacity"
    [rate]="mineRate" >
    </app-ore-view>
  -->
</perfect-scrollbar>


<!--
<br>
<table style="width:100%">
      <tr >


      </tr>
</table>
<br>

<br>
-->