:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    width : 49%;
}

app-ore-infos-view {
    width : 100%;
}
/*
.result {
    height: 80%;
    width : 100%;
}

app-search-result {
    height: 100%;
    width: calc(100% / 3);
}

.closeLine, .rejectLine {
    height:10%;
}
*/