<header class="col justify-between">
  <article class="row-reverse">
    <!--
    <div>
        <a href="#" (click)="openQuestModal()">Glory quest</a> <br>  
      <div *ngIf="questS.questGroup.values > 0">
        {{ questS.questGroup.calculValueDisplay() }} / {{questS.questGroup.valueWithSpace(questS.questGroup.valuesFinal)}} {{questS.questGroup.type}}
      </div>
      <div *ngIf="questS.questGroup.values <= 0">
          No quest for now.
      </div>
    </div>

    <div>
        <a href="#" (click)="openQuestModal()">Daily quest</a> <br>  
      <div *ngIf="userS.currentUser.quest.gain != -1">
        {{ userS.currentUser.quest.calculValueDisplay() }} / {{userS.currentUser.quest.valueWithSpace(userS.currentUser.quest.valuesFinal)}} {{userS.currentUser.quest.type}}    
      </div>
      <div *ngIf="userS.currentUser.quest.gain == -1">
          No quest for now.
      </div>
    </div>
    -->
    <button class="border" (click)="openProfileModal()">Profile</button> 
    <button class="border" (click)="openRankModal()">Rank</button>           
    <button class="border" (click)="openQuestModal()">Quest</button>
  </article>

  <article class="credit row align-center justify-center border">
    <h1> {{ creditValue }} cr</h1>    
  </article>
</header>

<app-modal (close)="closeQuestModal()" *ngIf="isModalOpenQuest">
    <app-quest></app-quest>
</app-modal>

<app-modal (close)="closeRankModal()" *ngIf="isModalOpenRank">
  <app-ranking></app-ranking>
</app-modal> 

<app-modal (close)="closeProfileModal()" *ngIf="isModalProfile">
  <app-profile></app-profile>
</app-modal> 