@import '../../theme';
header {
    width: 100%;
    height: 100%;
    article {
        height: calc(50% - #{$gap}/2);
        width: 100%;
        button {
            margin-left: $gap;
            cursor: pointer;
        }
    }
    .credit {
        margin-top: $gap;
        h1 {
            margin: 0;
        }
    }
}