<header class="col justify-between">
  <article [@stagger-tile] class="row-reverse align-center justify-start">
    <!--
    <div>
        <a href="#" (click)="openQuestModal()">Glory quest</a> <br>  
      <div *ngIf="questS.questGroup.values > 0">
        {{ questS.questGroup.calculValueDisplay() }} / {{questS.questGroup.valueWithSpace(questS.questGroup.valuesFinal)}} {{questS.questGroup.type}}
      </div>
      <div *ngIf="questS.questGroup.values <= 0">
          No quest for now.
      </div>
    </div>

    <div>
        <a href="#" (click)="openQuestModal()">Daily quest</a> <br>  
      <div *ngIf="userS.currentUser.quest.gain != -1">
        {{ userS.currentUser.quest.calculValueDisplay() }} / {{userS.currentUser.quest.valueWithSpace(userS.currentUser.quest.valuesFinal)}} {{userS.currentUser.quest.type}}    
      </div>
      <div *ngIf="userS.currentUser.quest.gain == -1">
          No quest for now.
      </div>
    </div>
    -->

    <img class="border tile" (click)="isModalQuest = true" src="../../assets/quest/topbar-icon.jpg"/>
    <img class="border tile" (click)="isModalBoost = true" src="../../assets/boost/topbar-icon.jpg"/>
    <button class="border tile" (click)="isModalRank = true">Rank</button>           
    <button class="quest border tile" (click)="isModalProfile = true">Profile</button>
    <button class="border tile" (click)="LogOut()">Log Out</button>
  </article>

  <article class="credit row align-center justify-center border">
    <h1> {{ creditValue }} cr</h1>    
  </article>
</header>

<app-modal (close)="isModalQuest = false" *ngIf="isModalQuest">
    <app-quest></app-quest>
</app-modal>

<app-modal (close)="isModalRank = false" *ngIf="isModalRank">
  <app-ranking></app-ranking>
</app-modal> 

<app-modal (close)="isModalProfile = false" *ngIf="isModalProfile">
  <app-profile></app-profile>
</app-modal> 

<app-modal (close)="isModalBoost = false" *ngIf="isModalBoost">
  <app-boost></app-boost>
</app-modal> 