<img src="/assets/logo.png" alt="asteroclicker logo" class="logo">
<div class="signin" lightbox>
  <div class="form-panel">
      <h1>Log in</h1>
      <input type="email" class="text-input" placeholder="e-mail" lightbox>
      <input type="password" class="text-input" placeholder="password" lightbox>
      <input type="button" class="button" value="Connect" onclick="valider();" lightbox>
      <p><a href="#">I forgot my password</a></p>
      <p><a href="#">I dont have an account</a></p>
  </div>
</div>