<div class="upgrade row justify-between">
<img class="upgrade-icon" src="../../../assets/upgrade-icons/icon_{{upgrade.name}}.png" />
<div class="column justify-between">
    <h1>{{upgrade.displayName}}</h1><br>
    <p>Current Level: {{upgrade.lvl}}</p>
    <p *ngFor="let key of upgradeCaraKeys">
        {{key}} : {{upgrade.cara[key]}}
    </p>
    <br>
    <p>Next Level: {{nextUpgrade.lvl}}</p>
    <p *ngFor="let nextkey of nextUpgradeCaraKeys">
        {{nextkey}} : {{nextUpgrade.cara[nextkey]}}
    </p>
    <p>Cost:
        <b class="credit">{{nextUpgrade.cost}} cr</b>
    </p>
</div>
<button class="btn-upgrade" (click)="levelUp()">Upgrade</button>
</div>
<br>