<header class="row justify-between" [@stagger-tile]>
  <article [ngClass]="{active: route === 'inventory'}"  class="row align-center justify-center tile border" (click)="route = 'inventory'">
    <h1>Inventory</h1>
  </article>
  <article [ngClass]="{active: route === 'store'}" class="row align-center justify-center tile border" (click)="route = 'store'">
    <h1>Store</h1>
  </article>
</header>

<section>
  <div class="nxc border">
    <h2>Nexiums : {{(nxc$ | async) / 1000 | number: '1.0-3'}}</h2>
  </div>
  <boost-inventory *ngIf="route === 'inventory'"></boost-inventory>
  <boost-store *ngIf="route === 'store'"></boost-store>
</section>