@import '../../../theme';

:host {
    height: 100%;
    width: 100%;
    display: block;
}

header {
    height: 10%;
    width: 100%;
    margin-bottom: $gap;

    article {
        width: calc(50% - #{$gap}/2);
        background-color: white;
        cursor: pointer;
        h1 {
            text-transform: uppercase;
        }
    }

    article.active h1 {
        border-bottom: solid 2px black;
    }
    
}

section {
    height: 90%;

    .nxc {
        background-color: white;
        width: 100%;
        h2 {
            text-align: center;            
        }    
    }
}