:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.upgrade {
    height: 100px;

}

.upgrade-icon{
    border-radius:50%;
    height: 100%;
}