@import '../../../theme';

:host {
    background-size: cover;
    background-position-x: center;
    position: relative;
}


section {
    height: 100%;
    width : 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    .timer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transition: transform 0.2s ease-in-out;
    }


    h1 {
        color: $black;
        background-color: white;
        border-top: solid 3px $black;
        border-bottom: solid 3px $black;
        text-align: center;
        width: 100%;
        transition: transform 0.3s cubic-bezier(.33,.01,.59,.99);
        transform: translateY(200%);
    }
}

section.can-buy {
    background-image: linear-gradient(to top, transparent 40%, rgba(255, 252, 213, 0.8), transparent 60%);
    background-size : 100% 200%;  
    animation: light 2s linear infinite;
}


:host:hover {
    section button, section h1, section .cost {
        transition-delay: 0.2s;
        transform: translateY(0) scale(1);
    }
    section .cost .ores {
        transition-delay: 0.6s;
        transform: translateY(0);
    }
}

.modal {
    height: 100%;

    .info {
        height: 30%;
        display: block;
    }
    .description {
        background-color: white;
    }
    .cost-ore {
        width: 20%;
        padding: 10px;
        background-color: white;
        color: black;
        margin-right: 10px;
    }
    p {
        margin: 0;
        font-size: 0.8rem;
    }
    img {
        width: 80%;
        margin-right: 10px;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        background-color: white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@keyframes light {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 200%;
    }
}