<div class="upgrade row justify-between">
    <img class="upgrade-icon" src="../../../assets/upgrade-icons/icon_{{upgradeLvls[upgradeCurrentLvl.lvl].name}}.gif" />
    <div class="column justify-between">
        <h1>{{upgradeLvls[upgradeCurrentLvl.lvl].displayName}}</h1>
        <br>
        <p>Current Level: {{upgradeCurrentLvl.lvl}}</p>
        <p *ngFor="let key of upgradeCaraKeys">
            {{key}} : {{upgradeLvls[upgradeCurrentLvl.lvl].cara[key]}}
        </p>
        <br>
        <p>Next Level: {{upgradeCurrentLvl.lvl+1}}</p>
        <p *ngFor="let nextkey of nextUpgradeCaraKeys">
            {{nextkey}} : {{upgradeLvls[upgradeCurrentLvl.lvl+1].cara[nextkey]}}
        </p>
        <p>Cost:  
        </p>

        <p *ngFor="let key of upgradeCostString">
           {{key.toUpperCase()}} : {{this.upgradeLvls[this.upgradeCurrentLvl.lvl + 1].costOreString[key]}}
        </p>
    </div>

    <button *ngIf="upgradeCurrentLvl && upgradeCurrentLvl.start==0" [disabled]="!enableButtonOre" class="btn-upgrade" (click)="levelUpOre()">Upgrade / Ore</button>
    <button *ngIf="upgradeCurrentLvl && upgradeCurrentLvl.start!=0" disabled="true" class="btn-upgrade">{{timer}}</button>
</div>
<br>