<!--
<section class="row justify-between">
    <app-upgrade-view class="border" [name]="'storage'" [lvls]="storageLvls" ></app-upgrade-view>
    <app-upgrade-view class="border" [name]="'mineRate'" [lvls]="mineRateLvls" ></app-upgrade-view>
    <app-upgrade-view class="border" [name]="'research'" [lvls]="researchLvls" ></app-upgrade-view>
    <app-upgrade-view class="border" [name]="'engine'" [lvls]="engineLvls" ></app-upgrade-view>    
</section>
-->
<section class="row justify-between" *ngIf="researchLvl$ | async as researchLvl">
    <app-upgrade-view *ngFor="let name of upgradeNames"
        class="border"
        [researchLvl]="researchLvl"
        [oreAmount]="oreAmount$ | async"
        [credit]="credit$ | async"
        [name]="name">
    </app-upgrade-view>
</section>