@import '../../../theme';

section {
    height: 100%;
    width: 100%;
}
app-upgrade-view {
    height: 100%;
    min-width: 20px;
    width: calc(25% - #{$gap});
    margin: 0 calc(#{$gap} / 4);
    transition: width 0.3s ease-in-out;
}

app-upgrade-view:hover {
    width: 80%;
}