
<div *ngIf="userS.currentUser.quest.gain != 0">
    Daily Quest: <br> <br>
    {{ userS.currentUser.quest.text }} <br>
    {{ userS.currentUser.quest.name }} :
    {{ (userS.currentUser.quest.valuesFinal - userS.currentUser.quest.values).toFixed(2) }} / {{userS.currentUser.quest.valuesFinal}}    
    <br> <br>
    You Win: {{ userS.currentUser.quest.gain }} Credit.
</div>

<div *ngIf="userS.currentUser.quest.gain === 0">
  New quest Evry 3 hours ! 
</div>
<br> <br>
<div *ngIf="questS.questGroup.values != 0">
  Glory Quest: <br> <br>
  {{ questS.questGroup.name }} <br>
  {{ (questS.questGroup.valuesFinal - questS.questGroup.values).toFixed(2) }} / {{questS.questGroup.valuesFinal}}    
  <br> <br>
  You Win: {{userS.currentUser.score * 0.05}} Credit.
</div>

<div *ngIf="questS.questGroup.values === 0">
Wait new information !
</div>

<br>