@import '../../../theme';

::ng-deep.alert-notif {
    background-color: white;
    border: solid 5px black;

    .sn-title, .sn-content {
        color: black;
    }
}

::ng-deep.error-notif {
    background-color: white;
}

::ng-deep.success-notif {
    background-color: white;
}
