<br>

<table style="width:100%">
  <tr style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <td align="left">Type of Asteroid : {{ Asteroidname }}</td>
  </tr>
</table>

<br>
<table style="width:100%">
  <tr style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">

    <td align="left">
      <img src="assets/smallRock.png" alt="carbonIcon">
    </td>
    <td align="left" [ngStyle]="{'color': carbonOverload ? 'red' : 'white'}"> Carbon : {{ user.carbon }}</td>
    <td *ngIf="Asteroidname=='Carbon'" align="right">{{(AsteroidRate*user.currentMineRate).toFixed(2)}} carbon/s</td>

  </tr>

  <tr style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <td align="left">
      <img src="assets/smallRockTita.png" alt="carbonIcon">
    </td>
    <td align="left" [ngStyle]="{'color': titaniumOverload ? 'red' : 'white'}"> Titanium : {{ user.titanium }}</td>
    <td *ngIf="Asteroidname=='Titanium'" align="right">{{(AsteroidRate*user.currentMineRate).toFixed(2)}} titanium/s</td>
  </tr>
</table>
<br>

<br>

<app-modal class="col" *ngIf="isModalOpen">

  <div class="closeLine">
    <a href="#" (click)="closeModal()">Close</a>
  </div>

  <div class="result row">
      <app-search-result *ngFor="let aste of user.asteroidSearch.results; let i = index" [num]="i" [asteroid]="aste"></app-search-result>      
  </div>

  <div class="rejectLine">
    <a href="#" (click)="closeModal()">Close</a>
  </div>


</app-modal>

<button *ngIf="user.asteroidSearch.timer!=0 && user.asteroidSearch.results.length==3" class="btn-upgrade" (click)="showResult()">See search result</button>
<button *ngIf="user.asteroidSearch.timer!=0 && user.asteroidSearch.results.length==0" class="btn-upgrade">Searching : {{timer}}</button>
<button *ngIf="user.asteroidSearch.timer!=0 && user.asteroidSearch.results.length==1" class="btn-upgrade" >Time before arriving : {{timer}}</button>
<button *ngIf="user.asteroidSearch.timer==0" class="btn-upgrade" (click)="searchNewAster()">Search Another Asteroid</button>
