<br>

<table style="width:100%">
  <tr style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
    unselectable="on" onselectstart="return false;" onmousedown="return false;">
    <td align="left">Type of Asteroid : {{ asteroid.ore }} </td>
    <td *ngIf="asteroid.currentCapacity>0" align="right">{{ asteroid.currentCapacity }}/{{ asteroid.capacity }} </td>
    <td *ngIf="asteroid.currentCapacity==0" style="color:red" align="right">EMPTY</td>
  </tr>
</table>

<br>
<table style="width:100%">
      <tr *ngFor="let info of allOreInfo">
          <app-ore-infos-view [name]="info.name" [amount]="oreAmount[info.name]" [capacity]="capacity"
           [rate]="asteroid.ore==info.name && asteroid.currentCapacity>0 && oreAmount[info.name]<capacity?(info.miningSpeed*(asteroid.purity/100)*mineRate).toFixed(2):0" >
          </app-ore-infos-view>
      </tr>
</table>
<br>

<br>

<app-modal class="col" *ngIf="isModalOpen">

  <div class="closeLine">
    <a href="#" (click)="closeModal()">Close</a>
  </div>

  <div class="result row">
    <app-search-result *ngFor="let aste of search.results; let i = index" [num]="i" [asteroid]="aste"></app-search-result>
  </div>

  <div class="rejectLine">
    <button class="btn-upgrade" (click)="rejectResults()">Reject</button>
  </div>


</app-modal>

<button *ngIf="search.start!=0 && search.results.length==3" class="btn-upgrade" (click)="showResult()">See search result</button>
<button *ngIf="search.start!=0 && search.results.length==0" disabled="true" class="btn-upgrade">Searching : {{timer}}</button>
<button *ngIf="search.start!=0 && search.results.length==1" disabled="true" class="btn-upgrade">Time before arriving : {{timer}}</button>
<button *ngIf="search.start==0" class="btn-upgrade" (click)="searchNewAster()">Search Another Asteroid</button>