@import '../config';
@import '../theme';

:host {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    padding: $gap;
    display: grid;
    grid-template-columns: 33% 16% 16% 33%;
    grid-template-rows: repeat(10, 9%);
    grid-gap: $gap;
}

.ship {
    display: block;
    grid-column: 1 / 1;
    grid-row: 1 / 6;
}

.qg {
    display: block;
    grid-column: 1 / 1;
    grid-row: 6 / 7;
}

.upgrade {
    display: block;
    grid-column: 1 / 1;
    grid-row: 7 / 11;
}

.asteroid {
    display: block;
    grid-column: 2 / 4;
    grid-row: 1 / 7;
}

.ore {
    display: block;
    grid-column: 2 / 2;
    grid-row: 7 / 11;   
}

.mining {
    display: block;
    grid-column: 3 / 3;
    grid-row: 7 / 9;
}

.search {
    display: block;
    grid-column: 3 / 3;
    grid-row: 9 / 11;
}

.topbar {
    display: block;
    grid-column: 4 / 4;
    grid-row: 1 / 3;  
}

.market {
    display: block;
    grid-column: 4 / 4;
    grid-row: 3 / 11;
}


.game-content {
    position: absolute;
    z-index: 0;    
    
    top: 6%;
    left: 0;
    height: 90%;

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
    .game-panel {
        width: 33%;
    }

    .ship-panel {
        display: flex;
        flex-direction: column;

        .ship-panel-ship-view {
            height: 60%;
        }
        
        .ship-panel-upgrade-view {
            height: 40%;
        }
    }

    .mining-panel {
        display: flex;
        flex-direction: column;

        .mining-panel-asteroid-view {
            height: 60%;
        }

        .mining-panel-infos-view {
            height: 40%;
        }
    }
}

.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

.image_loading{
    position: absolute;
    z-index: 1;    
    border-radius:0%;
    width: 100%;
    height: 100%;
}

.gif_loading{
    position: absolute;
    left: 45%;
    top: 35%;    
    z-index: 1;
}
