<div *ngIf="(user$|async)==null">
  <app-signin></app-signin>
</div>


<main [@stagger-tile] *ngIf="upgradeS && (user$|async)!=null && upgradeS.storageLoad && upgradeS.mineRateLoad
 && upgradeS.researchLoaded && upgradeS.engineLoad && loadAnimation.boolFinishLoad

  ">

<!--
<main *ngIf="(user$|async) && loadAnimation.boolFinishLoad">
  -->

  <div *ngIf="loadingImage">
    <img class="image_loading" src="../assets/space2.png" />
    <img class="gif_loading" src="../assets/ecran chargement.gif" />
  </div>

  <!-- Ship -->
  <app-ship-view class="ship border tile"></app-ship-view>

  <!-- QG -->
  <app-qg-view class="qg border tile"></app-qg-view>

  <!-- Upgrades -->
  <app-upgrade-list class="upgrade tile"></app-upgrade-list>

  <!-- Asteroid -->
  <app-asteroid-view class="asteroid border tile"></app-asteroid-view>

  <!-- Ore -->
  <app-ore-list class="ore tile"></app-ore-list>

  <!-- Mining Rate -->
  <app-asteroid-mining class="mining border tile"></app-asteroid-mining>

  <!-- Search -->
  <app-search-view class="search border tile"></app-search-view>

  <!-- TopBar -->
  <app-topbar class="topbar tile"></app-topbar>

  <!-- Market -->
  <app-market-list class="market tile"></app-market-list>  

  <!--
  <div class="game-content">
    <div class="game-panel ship-panel">
      <div class="ship-panel-ship-view">
      </div>
      <div class="ship-panel-upgrade-view light-box-panel scrollable">
      </div>
    </div>
    <div class="game-panel mining-panel">
      <div class="mining-panel-asteroid-view">
      </div>
      <div class="mining-panel-infos-view light-box-panel scrollable">
      </div>
    </div>
    <div class="game-panel market-panel light-box-panel scrollable">
    </div>
  </div>
  -->


</main>