.container {
	margin: 1%;
}

aside {
	flex: 1;
}

.asideTop {
	height: 70%;
	width: 100%;
}

.asideBot {
	flex: 1;
	background: url(assets/metalplate.png) no-repeat;
	background-size: cover;
}


.middle {
    width: 34%;
    height: 100%;
}

.middle #canvas-container {
	width: 100%;
	height: 70%;
	background-color: blue;
}

.middleBot {
	flex: 1;
	background: url(assets/metalplate.png) no-repeat;
	background-size: cover;
}

.leftBox {
	background: url(assets/metalplate.png) no-repeat;
	background-size:cover;
	margin: 1%;
}

/* Bouton */
.bouton a {
	display: block;
	width: 75px;
	line-height: 25px;
	text-align: center;
	background: url(assets/bouton-a.png) no-repeat;
	background-size: cover;
	color: black;
}

.bouton a:hover {
	background: url(assets/bouton-a-enter.png) no-repeat;
	background-size: cover;
	color: white;
}

.frontSize {
	font-size: 15px;
}

.frontSize2 {
	font-size: 12px;
}