<div *ngIf="userS && !userS.userLoad">
<app-signin ></app-signin>
</div>



<div *ngIf="upgradeS && userS && userS.userLoad && upgradeS.storageLoad && upgradeS.mineRateLoad && marketS && marketS.marketLoad && asteroidS && asteroidS.asteroidLoad">
    <header>
        <app-topbar></app-topbar>
      </header>
  <div class="game-content">
      <div class="game-panel ship-panel">
          <div class="ship-panel-ship-view">
            <app-ship-view></app-ship-view>
          </div>
          <div class="ship-panel-upgrade-view light-box-panel scrollable">
            <app-upgrade-view></app-upgrade-view>
          </div>
        </div>
        <div class="game-panel mining-panel">
          <div class="mining-panel-asteroid-view">
            <app-asteroid-view></app-asteroid-view>
          </div>
          <div class="mining-panel-infos-view light-box-panel scrollable">
            <app-infos-view></app-infos-view>
          </div>
        </div>
        <div class="game-panel market-panel light-box-panel scrollable">
            <app-market-view></app-market-view>
        </div>
  </div>


</div>

