<div *ngIf="userS && !userS.userLoad">
<app-signin ></app-signin>
</div>

<div *ngIf="upgradeS && userS && userS.userLoad && upgradeS.storageLoad && upgradeS.mineRateLoad
 && upgradeS.researchLoaded && marketS && marketS.marketLoad && loadAnimation.boolFinishLoad
 && oreInfoS && oreInfoS.oreInfoLoaded">
    <header>
        <app-topbar></app-topbar>
      </header>  
      
  <div *ngIf="loadingImage">
      <img class="image_loading" src="../assets/space.png" />                
      <img class="gif_loading" src="../assets/upgrade-icons/icon_mineRate.gif" />      
  </div>

  <div class="game-content">
      <div class="game-panel ship-panel">
          <div class="ship-panel-ship-view">
            <app-ship-view></app-ship-view>
          </div>
          <div class="ship-panel-upgrade-view light-box-panel scrollable">
            <app-upgrade-list></app-upgrade-list>
          </div>
        </div>
        <div class="game-panel mining-panel">
          <div class="mining-panel-asteroid-view">
            <app-asteroid-view></app-asteroid-view>
          </div>
          <div class="mining-panel-infos-view light-box-panel scrollable">
            <app-infos-list></app-infos-list>
          </div>
        </div>
        <div class="game-panel market-panel light-box-panel scrollable">
            <app-market-list></app-market-list>
        </div>
  </div>
    


</div>

