<article class="row align-center border" *ngIf="!!oreInfo && researchLvl >= oreInfo.searchNewOre">
  <img class="oreIcon" src="assets/oreIcon/{{name}}Icon.png" alt="{{name}}Icon">

  <div class="col">
    <p [ngStyle]="{'color': amount>=capacity ? 'red' : 'white'}"> {{name.toUpperCase()}} : {{ amount }} </p>
    <p *ngIf="isRateDisplayed">{{(this.oreCoef * this.rate).toFixed(2)}} {{name}}/s</p>
  </div>
</article>
<!---
"(asteroid$|async)?.ore==info.name && (asteroid$|async)?.currentCapacity>0 && oreAmount[info.name]<capacity?(info.miningSpeed*((asteroid$|async)?.purity/100)*mineRate).toFixed(2):0"
-->