
section {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.level-up {
    width: 30%;
    height: 100%;
    background-color: rgb(173, 173, 173);
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
}

:host:hover {
    .level-up {
        transform: translateX(0);
    }
}