<section class="row-reverse justify-between">
  <div class="name">
    <h1>Head Quarter</h1>
  </div>
  <div (click)="levelUpOre()" class="level-up row align-center justify-between">
    <img src="../../../assets/icon/level-up.png" alt="levelUp"/>
    <div class="cost-ore col align-center justify-around" *ngFor="let key of upgradeCostString">
      <img *ngIf="key !== '???'" src="../../../assets/oreIcon/{{key}}Icon.png" />
      <p>{{nextUpgrade.costOreString[key]}}</p>
    </div>
  </div>
</section>
<ng-notif></ng-notif>