<div (click)="levelUpOre()" class="cost row justify-around align-center">
  <section class="row-reverse">
    <div class="level-up">
      <h1>QG</h1>
    </div>
  </section>
</div>
<!--
<div (click)="levelUpOre()" class="cost row justify-around align-center">
  <img class="lvl-up" src="../../../assets/icon/level-up.png" alt="levelUp"/>
  <div class="ores col justify-around wrap">
      <div class="cost-ore row align-center justify-around" *ngFor="let key of upgradeCostString">
          <img *ngIf="key !== '???'" src="../../../assets/oreIcon/{{key}}Icon.png" />
          <p>{{nextUpgrade.costOreString[key]}}</p>
      </div>
  </div>
</div> -->
<ng-notif></ng-notif>