@import '../../../theme';

section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../../../assets/upgrade/img/QG.jpg');
    background-size: cover;
    cursor: pointer;
}

.name{
    width: 30%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(to left, $black, transparent);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);

    h1 {
        margin: 0;
        color: white;
        text-align: right;
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.modal {
    height: 100%;

    .info {
        height: 30%;
        display: block;
    }
    .description {
        background-color: white;
        padding: 10px;
        font-size: 1.2rem;
    }
    .cost-ore {
        width: 20%;
        padding: 10px;
        background-color: white;
        color: black;
        margin-right: 10px;
    }
    p {
        margin: 0;
        font-size: 0.8rem;
    }
    img {
        width: 80%;
        margin-right: 10px;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        background-color: white;
        text-transform: uppercase;
        background-color: $buy-color;
        box-shadow: inset 3px 3px #50ff66, inset -3px -3px #267e31;
        cursor: pointer;
    }
}

:host:hover {
    .name, .level-up {
        transform: translateX(0);
    }
}