@import '../../../theme';

.curve{
    background-color: $market-color;
    background-image: url('../../../assets/texture/market-curve.png');
    box-shadow: inset 0 0 15px 30px $black;
    border: 10px solid;
    border-image: url("../../../assets/market/border.png") 15;
    border-image-repeat: stretch;
    position: relative;
    height: 100%;
    width: 100%;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
}