:host {
    overflow: hidden;
    position: relative;
}

.info {
    position : absolute;
    bottom: 10px;
    left: 10px;
    height: 30%;
}


story-teller {
    height: 80px;
    position: absolute;
    top: 5px;
    left: 5px;
}