@import '../../../theme';

boost-view {
    height: 20%;
    display: block;
}

footer {
    padding: 5px;
    margin-top: $gap;
    background-color: white;

    .buy {
        border: solid 1px black;
        padding: 5px 10px;
        background-color: rgb(50,50, 50);
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}