/* ===== Fonts ===== */

$main-font: 'Montserrat-Regular', sans-serif;
$title-font: 'Montserrat-SemiBold', sans-serif;


/* ===== Colors ===== */

    //Background
$color-background-grad1:            #2b2b2b;
$color-background-grad2:            rgb(29, 29, 29);

    // Panels
$panel-background-color:            #000000;
$footer-border-color:               #000000;

    //Input
$input-field-color:                 #EEEEEE;

    //buttons
$button-background-color:           #111111;
$button-hover-background-color:     #1d1d1d;
$button-active-background-color:    #272727;
$button-border-color:               #000000;
$button-hover-border-color:         #111111;
$button-active-border-color:       #1d1d1d;

    // Fonts

    //Link fonts
$link-font-color:                   rgba(240, 240, 240, 1.0);
$link-hover-font-color:             rgb(200, 200, 200);
$link-clicked-font-color:           rgb(160, 160, 160);
