/*
    Global style.css
    ----------------
*/

/* ===== Imports ===== */
@import 'config';

/* ===== Resets and base page ===== */
html {
    background: url("assets/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;

    font-family: $main-font;
    color: $main-font-color;   
}

body {
    height:100%;
    width:100%;
    margin: 0;
    overflow: hidden;

    footer {
        padding: 10px 0 10px 0;
        width: 100%;
        background: $panel-background-color;
        border-top: solid 1px $panel-border-color;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        color: $footer-font-color;
        overflow: hidden;
    }
}


/* ===== Flex classes ===== */
.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container-space-around {
    @extend .column-container;
    justify-content: space-around;
}

.column-container-space-evenly {
    @extend .column-container;
    justify-content: space-evenly;
}

.row-container-space-around {
    @extend .row-container;
    justify-content: space-around;
}

.row-container-space-evenly {
    @extend .row-container;
    justify-content: space-evenly;
}