/*
    Global style.css
    ----------------
*/

/* ===== Imports ===== */
@import 'assets/fonts/font';
@import 'theme';

/* ===== Resets and base page ===== */
* {
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', sans-serif;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.border {
    border: solid 5px $black;
}

/**
 * FLEXBOX
 */
//containers
.row {
    display : flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.col {
    display : flex;
    flex-direction: column;
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse;
}
//Justify content
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

//Align Items
.align-end { align-items: flex-end; }
.align-center { align-items: center; }

// Wrap
.wrap { flex-wrap: wrap; }




.credit{
    color: $credit-font-color;
}

.carbon{
    color: $carbon-font-color;
}

.iron{
    color: $iron-font-color;
}

.titanium{
    color: $titanium-font-color;
}

.hyperium{
    color: $hyperium-font-color;
}

.gold{
    color: $gold-font-color;
}

.btn {
    border: solid 2px $black;
    padding: 5px;
    margin: 5px;
    color: $black;
    cursor: pointer;
}

// BTN UPGRADE
.btn-upgrade{
    @extend .btn;
    background-color: rgb(59, 99, 172);
    box-shadow: 3px 3px 1px $black, inset 3px 3px 1px rgb(93, 121, 168);
}

.btn-upgrade:hover{
    background-color: rgb(93, 121, 168);
}

// BTN SELL
.btn-sell{
    @extend .btn;
    background-color: rgb(141, 47, 47);
    box-shadow: 3px 3px 1px $black, inset 3px 3px 1px rgb(145, 84, 84);
}

.btn-sell:hover{
    background-color: rgb(145, 84, 84);
}

// BTN BUY
.btn-buy{
    @extend .btn;
    background-color: rgb(49, 124, 49);
    box-shadow: 3px 3px 1px $black, inset 3px 3px 1px rgb(83, 133, 83);
}

.btn-buy:hover{
    background-color: rgb(83, 133, 83);
}

// BUY DISABLED
.btn:disabled{
    background-color: rgb(130, 130, 130);
    box-shadow: 3px 3px 1px $black, inset 3px 3px 1px rgb(155, 155, 155);
    cursor: normal;
}

// BLOCK TEXT SELECTION
.no-selection{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}