/*
    Global style.css
    ----------------
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ===== RESET ===== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===== END RESET ===== */

/* ===== Imports ===== */
@import 'assets/fonts/font';
@import 'config';

/* ===== Resets and base page ===== */
html {
    //background: url("assets/background.jpg") no-repeat center center fixed;
    //background-size: cover;
    background: radial-gradient(circle at center, $color-background-grad1 0, $color-background-grad2 100%) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;

    font-family: $main-font;
    color: $main-font-color;   
}

//links
a:link {
    color: $link-font-color;
}

a:visited {
    color: $link-font-color;
}

a:hover {
    color: $link-hover-font-color;
}

a:active {
    color: $link-clicked-font-color;
}

body {
    height:100%;
    width:100%;
    margin: 0;
    overflow: hidden;

    footer {
        padding: 10px 0 10px 0;
        width: 100%;
        background: $panel-background-color;
        border: solid 1px $footer-border-color;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        color: $footer-font-color;
        overflow: hidden;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title-font;
}


/* ===== Flex classes ===== */
//containers
.row {
    display : flex;
    flex-direction: row;
}

.col {
    display : flex;
    flex-direction: column;
}

//Justify content
.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

//Align Items
.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}