$main-font: 'Montserrat-Regular', sans-serif;
$title-font: 'Montserrat-SemiBold', sans-serif;

$gap: 8px;
$black : rgb(30, 30, 30);
$buy-color: rgb(79, 176, 92);
$sell-color: rgb(188, 55, 55);

$main-font-color:                   rgba(240, 240, 240, 1.0);
$footer-font-color:                 rgba(120, 120, 120, 1.0);
$credit-font-color:                 rgba(214, 171, 51, 1.0);
$carbon-font-color:                 rgb(102, 119, 4);
$titanium-font-color:                 rgb(105, 101, 122);
$iron-font-color:                 rgb(175, 175, 175);
$gold-font-color:                 rgb(255, 238, 0);
$hyperium-font-color:                 rgb(255, 0, 234);
$alert-font-color:                  rgba(255, 55, 55, 1.0);
