<ng-slider [background]="'/assets/search/background.jpg'">
  <!-- Distance -->
  <ng-slide class="distance col justify-between">
    <input type="range" #distanceRange
      [min]="researchInfo.minDistance"
      [max]="researchInfo.maxDistance"
      [value]="distance"
      (change)="searchTimeUpdate(distanceRange.value)">
      
    <p>Choose Distance : {{distance}}</p>
    <button (click)="searchNewAster()">Search new Asteroid : {{searchTime}}</button>
  </ng-slide>

  <!-- Wait : Searching -->
  <ng-slide class="col">
    <ng-progress [color]="'rgba(50,50,50,0.8)'" [total]="search?.time" [current]="search?.timer"></ng-progress>
    <div class="timer col justify-center align-center">
      <p>{{ search?.timer | timer }}</p>
    </div>
  </ng-slide>

  <!-- Result -->
  <ng-slide class="result col align-center justify-center">
    <button (click)="showResult()">Asteroids Found</button>
  </ng-slide>

  <!-- Wait : Travel -->
  <ng-slide class="col">
    <ng-progress [color]="'rgba(50,50,50,0.8)'" [total]="search?.time" [current]="search?.timer"></ng-progress>
    <div class="timer col justify-center align-center">
      <p>{{ search?.timer | timer }}</p>
    </div>
  </ng-slide>
</ng-slider>

<app-modal [@stagger-tile] (close)="closeModal()" *ngIf="isModalOpen">
  <div class="result-view row align-center justify-around">
      <app-search-result class="asteroid-result tile border" 
        *ngFor="let aste of search.result; let i = index"
        [num]="i"
        [asteroid]="aste"
        (choosed)="closeModal()"></app-search-result>
  </div>
  <button class="reject tile" (click)="rejectResults()">Search Again</button>
</app-modal>
