@import '../../../theme';

section {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/mining/background.jpg');
    background-size: cover;
}
article {
    height: 100%;
    .canvas-container {
        position: relative;
        padding: 5px;        
    }
}

.mining {
    width: 30%;
    .canvas-container {
        height: 60%;
        background-image: url('../../../assets/mining/top-left.png');
        background-size: cover;
    }
    .time{
        height: 40%;
        background-image: url('../../../assets/mining/bottom-left.png');
        background-size: cover;
    }
}
.capacity {
    width: 70%;
    .canvas-container{
        height: 40%;
        background-image: url('../../../assets/mining/bottom-right.png');
        background-size: cover;
    }
    .asteroid {
        height: 60%;
        background-image: url('../../../assets/mining/top-right.png');
        background-size: cover;
    }

}




