@import '../../../theme';

section {
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/mining/background.jpg');
    background-size: cover;
}
article {
    height: 100%;
    .canvas-container {
        position: relative;
        padding: 5px;        
    }
}

// Left part
.mining {
    width: 30%;
    //Top Left
    .canvas-container {
        height: 60%;
        background-image: url('../../../assets/mining/top-left.png');
        background-size: cover;
    }
    // Bottom Left
    .time{
        height: 40%;
        background-image: url('../../../assets/mining/bottom-left.png');
        background-size: cover;
    }
}
// Right Part
.capacity {
    width: 70%;
    // Bottom Right
    .canvas-container{
        height: 40%;
        background-image: url('../../../assets/mining/bottom-right.png');
        background-size: cover;
        p {
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
    }
    // Top Right
    .asteroid {
        height: 60%;
        background-image: url('../../../assets/mining/top-right.png');
        background-size: cover;
    }

}




