<section unselectable="on" class="row align-center no-selection" >
  <article class="mining col">
    <div class="canvas-container">
      <canvas #chartMining></canvas>
    </div>
    <div class="time">

    </div>
  </article>

  <article class="capacity col-reverse justify-between">
    <div class="canvas-container">
      <canvas *ngIf="(asteroid$ | async)?.currentCapacity !== 0" #chartCapacity></canvas>
      <p *ngIf="(asteroid$ | async)?.currentCapacity === 0">EMPTY</p>
    </div>
    <div class="asteroid">

    </div>
  </article>
</section>

